* {
  box-sizing: border-box;
}
html, body {
  margin: 0; 
  padding: 0; 
}
main {
  width: 100%; 
  height: 100vh; 
  background: #f0f0f0;
}
section {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  width: 40vw; 
  height: 40vw; 
  background-color: beige; 
  display: grid; 
  grid-template-columns: repeat(5, 1fr);
}
.bg1 {
  background-color: #6495ed;
}
.bg2 {
  background-color: #f5e68b;
}
.bg3 {
  background-color: #dd4343 !important;
}